
.footer {
    padding-top: 60px;
    padding-bottom: 30px;
    background: var(--primary-color);
}
.footer__text {
    line-height: 30px;
    color: #dcd9d9;
}
.footer__quick-link ul li {
    background: transparent !important;
}
.footer__quick-link ul li a {
    color:  #dcd9d9;
}
.quick__link-title {
    margin-bottom: 30px;
    color: #ffffff;
    font-size: 1.1rem;
}
.footer__contact li,
.footer__contact li p{
    color: #dcd9d9 ;
}
.footer__contact li span {
    font-size: 1.2rem;
}
.footer__copyright {
    color:#dcd9d9 ;
    font-size: 0.9rem;
    margin-top: 50px;
    text-align: center  ;
}